<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Geo</title>
<link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#contact">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Time</a>
      <a href="#">Travel</a>
      <a href="#">Currency</a>
    </div>
  </div> 
  <a href="#about">About</a>
</div>

</body>
</html>