<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Geo</title>
<link rel="stylesheet" href="../css/test.css">

</head>
<body>

<div class="main">

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Time</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Travel</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">World</label>

  <section id="content1">
  <object type="text/html" data="time.html"></object>
  </section>

  <section id="content2">
  <object type="text/html" data="travel.html"></object>
  </section>

  <section id="content3">
  <object type="text/html" data="currency.html"></object>
  </section>

</div>

</body>
</html>